<div class="panel panel-default">
	<div class="panel body">
		<div class="container">
			<span style="float: right"><%= link_to 'View', user_message_path(message.sender_id, message), class: "btn btn-dark" %></span>
			<h4>To: <%= User.find(message.receiver_id).username %></h4>
			<h4>From: <%= User.find(message.sender_id).username %></h4>
			<p><strong><%= message.title %></strong></h5>
		</div>
	</div>
</div>