<div class="container">
	<div class="row">

		<% if @user.category == "volunteer" %>
			<h1><%= @user.username %> | <%= @user.location %></h1><hr>
		<h2>Class Proposals</h2>
			<% @proposals.each do |proposal| %>
				<%= render 'proposals/proposal_show', proposal: proposal %>
			<% end %>
		<% end %>






