<header id="top" class="header">
	<div class="text-vertical-center">
		<h1>VolunTeach</h1>
		<h3><em>"Education is the most powerful weapon which you can use to change the world"</em> -Nelson Mandela</h3>
	</div>
</header>