<header id="top" class="header">
	<div class="text-vertical-center">
		<h1>VolunTeach</h1>
		<h3 style="font-family: 'Indie Flower'; text-align: block">Education is the most powerful weapon which you can use to change the world <br> -Nelson Mandela</h3>
	</div>
</header>