<header id="top" class="header">
	<div class="text-vertical-center">
		<h1>Volun <i class="fa fa-book"></i> Teach</h1>
		<h3><em>"Education is the most powerful weapon which you can use to change the world"</em> -Nelson Mandela</h3>
	<%= link_to 'Schools', schools_path, class: "btn btn-dark btn-lg" %>
	<%= link_to 'Proposals', proposals_path, class: "btn btn-dark btn-lg" %>
	</div>
</header>