<div class='container'>
	<div class='row'>

		<h1>Class Proposals</h1>
			<p><%= link_to 'Add a New Proposal', new_proposal_path, class: "btn btn-default" %></p></div>

	<div class="row">

		<%= render 'proposal_show' %>

	</div>
</div>
