<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />

<div class='sidebar pad2'>Listing</div>
<div id='map' class='map pad2'>Map</div>
<style>
body {
  background:#404040;
  color:#f8f8f8;
  font:500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  }
/**
 * The page is split between map and sidebar - the sidebar gets 1/3, map
 * gets 2/3 of the page. You can adjust this to your personal liking.
 */
.sidebar {
  width:33.3333%;
  }
.map {
  border-left:1px solid #fff;
  position:absolute;
  left:33.3333%;
  width:66.6666%;
  top:0;
  bottom:0;
  }
.pad2 {
  margin: 20px;
  padding:20px;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }
</style>

<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoibmFkaW5lbHlhYiIsImEiOiIyOWViZmFlOTViNmMzM2I5ZjVjYzgyNDkyNTkzNzA4MCJ9.aX6Chfri2bvJiqxZaNDxzA';
    var geojson = @schools.to_json

    var map = L.mapbox.map('map', 'nadinelyab.n34f790i')
    .setView([61.2180556, -149.9002778], 13)
    .featureLayer.setGeoJSON(geojson);
</script>